<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Jquery Link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
   <%- include('./partials/header'); %>

    
<section class="about">

    <div class="row">
 
       <div class="image">
          <img src="images/about-img.svg" alt="">
       </div>
 
       <div class="content">
          <h3>About Us</h3>
          <p>My name is Nitin Gupta, and I am currently pursuing my Master's degree in Computer Applications (MCA) at BCIIT which is Affilated to Ipu University. My passion for technology has led me on a journey of constant learning and exploration, empowering me with a versatile skillset that encompasses:</p>
          <a href="https://www.linkedin.com/in/nitin-gupta-b8aaa9249/" class="inline-btn">LinkedIn</a>
       </div>
 
    </div>



<%- include('./partials/footer'); %>
</body>
</html>